.btn-switch {
    width: 150px;
}

#pgb {
    border-radius: 50%;
} 
 /* .header{
    width: 100%;
    background-color: yellow;
    height: 100px;
}  */
.progress{
    width: 100px;
    background-color: rgb(228, 227, 227);
  
}
/* .content{
    background-color: blue;
    height: 500px;
} */

.card-header{
    background-color: ghostwhite;
}

::ng-deep.k-switch-on:hover .k-switch-container, .k-switch-on.k-state-hover .k-switch-container {
    color: #fff;
    background-color: #1bd43a;
}
::ng-deep.k-switch-on .k-switch-container {
    color: #fff;
    background-color: #1bd43a;
} 

.sc{
    width: 427px;
}