
<div class="page-demo">
    <div class="header">
        <h1>Danh sách khách hàng</h1>
    </div>
    <div class="body">
        <div class="tab-set d-inline-block">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab"
                        aria-controls="nav-home" aria-selected="true">Tất cả (30)</a>
                    <a class="nav-item nav-link" id="nav-present-tab" data-toggle="tab" href="#nav-present" role="tab"
                        aria-controls="nav-present" aria-selected="false">Trạm hiện tại (5)</a>
                    <a class="nav-item nav-link" id="nav-next-tab" data-toggle="tab" href="#nav-next" role="tab"
                        aria-controls="nav-next" aria-selected="false">Trạm kế (5)</a>
                    <a class="nav-item nav-link" id="nav-previous-tab" data-toggle="tab" href="#nav-previous" role="tab"
                        aria-controls="nav-previous" aria-selected="false">Trạm đã qua (12)</a>
                </div>
            </nav>
        </div>
        <div class="d-flex justify-content-start d-inline-block">
            <div class="progress d-flex flex-column h-100 ">
                <div class="p-2 d-flex justify-content-center"><button type="button" class="btn btn-danger">Start</button></div>
                <div class="p-2 d-flex justify-content-center"><button type="button" class="btn btn-secondary" disabled>5</button></div>
                <div class="p-2 d-flex justify-content-center"><button type="button" class="btn btn-secondary" disabled>7</button></div>
                <div class="p-2 d-flex justify-content-center"><button type="button" class="btn btn-success">5</button></div>
                <div class="p-2 d-flex justify-content-center"><button type="button" class="btn btn-warning">5</button></div>
                <div class="p-2 d-flex justify-content-center"><button type="button" class="btn btn-outline-dark">3</button></div>
                <div class="p-2 d-flex justify-content-center"><button type="button" class="btn btn-outline-dark">5</button></div>
                <div class="p-2 d-flex justify-content-center"><button type="button" class="btn btn-info">End</button></div>
            </div>
            <div class="content">
    
                <div class="p-2 d-inline-block" *ngFor="let card of cards">
                    <div class="card ml-1 sc">
                        <div class="card-header d-flex">
                            <div class="w-50 d-flex justify-content-center">
                                <kendo-switch class="btn-switch" [checked]='false' [onLabel]="'ĐÃ LÊN XE'"
                                    [offLabel]="'CHƯA LÊN XE'">
                                </kendo-switch>
                            </div>
                            <div class="w-50 d-flex justify-content-center">
                                <kendo-switch class="btn-switch" [checked]='false' [onLabel]="'ĐÃ XUỐNG XE'"
                                    [offLabel]="'CHƯA XUỐNG XE'">
                                </kendo-switch>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-start flex-column" style="height: 140px;">
                                    <div class="p-3">
                                        <img style="width: 100px ; height: 100px ;"
                                            src="../../../assets/image/avt-ico.png" />
                                    </div>
                                </div>

                                <div class="d-flex align-items-end flex-column ml-4" style="height: 140px;">
                                    <div class="p-3">
                                        {{card.fullname}} <br>
                                        Giới tính: {{card.gender}} <br>
                                        Lớp: {{card.class}} <br>
                                        Điểm đến: {{card.point}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>