<b style="font-size: 20px;" >Bảng Sản Phẩm Đã Chọn</b>
<div class="d-flex justify-content-between">
    <kendo-grid
    [data]="gridView"
    [pageSize]="pageSize"
    [skip]="skip"
    [pageable]="true"
    (pageChange)="pageChange($event)"
    [height]="195"
    [selectable]="true"
    
    >
    <kendo-grid-column field="STT" title="STT" ></kendo-grid-column>
    <kendo-grid-column field="Product" title="Sản Phẩm" [width]="270"></kendo-grid-column>
    <kendo-grid-column field="Storage" title="Kho" [width]="150"></kendo-grid-column>
    <kendo-grid-command-column title="Lô" width="200">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
            <kendo-dropdownlist class="dt" [data]="listMedicine" [value]="'SX202006'"></kendo-dropdownlist>
        </ng-template>
    </kendo-grid-command-column>
    <kendo-grid-column field="Amount" title="SL Tồn Khả Dụng" [width]="150"></kendo-grid-column>
    
    <kendo-grid-command-column title="Số Lượng Nhập" width="200">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
            <kendo-numerictextbox
            [value]="value" [min]="0" [max]="100" [autoCorrect]="autoCorrect">
        </kendo-numerictextbox>
        </ng-template>
    </kendo-grid-command-column>
    
    
        
    
    </kendo-grid>
</div>

<br>



<div class="d-flex justify-content-between">
    <div class="d-flex justify-content-end"></div>
    <div class="d-flex justify-content-end">
        <div class="pr-5 "><button type="button" class="btn btn-danger">Xóa</button></div>
        <div><button type="button" class="btn btn-success">Lưu</button></div>
    </div>
</div>

<br>

<div class="d-flex justify-content-between">
    <div class="d-flex justify-content-end"></div>
    <div class="d-flex justify-content-end">
       <u><a style="font-size: 17px;" href="">Đóng gói</a></u> 
    </div>
</div>

<br>


        