<kendo-card [width]="'1110px'">
    <kendo-card-header>
        <h1 kendoCardTitle> <b>Thông tin lọc</b> </h1>
    </kendo-card-header>
    <kendo-card-body>
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-start flex-column bd-highlight mb-3 hc">
                <div class="p-2 mt-2">
                    Danh mục
                </div>
            </div>
            <div class="d-flex align-items-start flex-column bd-highlight mb-3 hc">
                <div class="p-2">
                    <kendo-dropdownlist class="dt" [data]="listMedicine" [value]="'Thuốc'"></kendo-dropdownlist>
                </div>
            </div>
            <div class="d-flex align-items-end flex-column bd-highlight mb-3 hc ">
                <div class="p-2 mt-2">
                    Sản Phẩm
                </div>
            </div>
            <div class="d-flex align-items-end flex-column bd-highlight mb-3 hc ">
                <div class="p-2 ">
                    <kendo-dropdownlist class="dt" [data]="listMedicine" [value]="'Thuốc'"></kendo-dropdownlist>
                </div>
                <div class="p-2 "><button type="submit" class="btn btn-primary">Xem</button></div>
            </div>
        </div>
    </kendo-card-body>
</kendo-card>

