.main{
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 7px;
}
.frgrrow {
    padding: 1px;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

.border-img{
    border: #5cb85c;
    box-shadow: 0px 0px 5px 1px rgb(190, 190, 190);
}

.card-header{
    color: white;
    background-color:  #28a745!important;
    box-shadow: 0px 0px 5px 2px rgb(190, 190, 190);
}

.form-control{
    box-shadow: 0px 0px 3px 1px rgb(190, 190, 190);
}

.card{
    box-shadow: 0px 0px 5px 1px rgb(190, 190, 190);
}
.border-bottom{
    color: #28a745!important;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.btn-sucess{
    background-color:  #28a745!important;
    box-shadow: 0px 0px 5px 2px rgb(190, 190, 190);
}

::ng-deep.k-input{
    color: black;
}

::ng-deep.ng-wizard-theme-arrows>ul.step-anchor>li.active>a:after {
    border-left: 30px solid #28a745!important;
}
::ng-deep.ng-wizard-theme-arrows>ul.step-anchor>li.active>a {
    border-color:  #28a745!important;
    color: #fff!important;
    background: #28a745!important;
}

