<div class="main">
<div class="card">
    <div class="card-header">
        <h4>Thông Tin Phòng Ban</h4>  
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-5 ">
                <img class="w-100 border-img" src="../../../assets/image/image.jpg" alt="avatar">
                <div class="pt-2">
                    <span class="btn btn-success btn-file fa fa-camera">
                        Chọn ảnh 
                        <input type="file">
                    </span>
                </div>
                    
            </div>
            <div class="col-sm-12 col-md-7">
                <h5 class="border-bottom pb-1">Thông Tin Chi Tiết</h5>
                <div class="form-group row frgrrow">
                    <label>Tên Phòng Ban</label>
                    <input type="text" ngModel required  class="form-control" id="nameDP" value="" required >

                </div>
                <div class="form-group row frgrrow">
                    <label>Mã Phòng Ban</label>
                    <input type="text"  class="form-control" id="idDP" value="" required>
                </div>
                <div class="form-group row frgrrow">
                    <label>Địa Điểm</label>
                    <input type="text"  class="form-control" id="addrDP" value="" required>
                </div>
                <h5 class="border-bottom pb-1">Thông Tin Liên Hệ</h5>
                <div class="form-group row frgrrow">
                    <label>Số Điện Thoại</label>
                    <input type="number"  class="form-control" id="phoneDP" value="" required>
                </div>
            </div>
        </div>
    </div>

</div>
</div>