.main{
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 7px;
}
.frgrrow {
    color: black;
    padding: 0.7px;
}

.border-bottom{
    color: #28a745!important;
}

.border-img{
    border: #5cb85c;
    box-shadow: 0px 0px 5px 1px rgb(190, 190, 190);
}

.card-header{
    color: white;
    background-color: #28a745!important;
    box-shadow: 0px 0px 5px 2px rgb(190, 190, 190);
}

.form-control{
    box-shadow: 0px 0px 3px 1px rgb(190, 190, 190);
}
::ng-deep.k-input{
    color:  #6c757d;
}

.card{
    box-shadow: 0px 0px 5px 1px rgb(190, 190, 190);
}

::ng-deep.k-list .k-item.k-state-selected, .k-list-optionlabel.k-state-selected {
    color: #fff;
    background-color: #28a745!important;
}

::ng-deep.k-calendar .k-state-selected .k-link {
    border-color:  #28a745!important;
    color: #fff;
    background-color:  #28a745!important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.btn-sucess{
    background-color:  #28a745!important;
    box-shadow: 0px 0px 5px 2px rgb(190, 190, 190);
}

::ng-deep.k-calendar .k-calendar-header .k-today {
    color: #28a745!important;
}

