<div class="main">
<div class="card">
    <div class="card-header">
        <h4>Thông Tin Nhân Viên</h4>  
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <img class="w-100 border-img " src="../../../assets/image/image.jpg" alt="avatar">
                <div class="pt-2">
                    <span class="btn btn-success btn-file fa fa-camera">
                    Chọn ảnh <input type="file">
                </span>
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <h5 class="border-bottom pb-1">Thông Tin Chi Tiết</h5>
                <div class="row pt-2">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row frgrrow">
                            <label class="col-sm-3 col-form-label">Tên</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="nameEmp" value="">
                            </div>
                        </div>
                        <div class="form-group row frgrrow">
                            <label class="col-sm-3 col-form-label">Giới Tính</label>
                            <div class="col-sm-9">
                                <kendo-dropdownlist class="w-100 form-control" [data]="listGender" [value]="'Chọn Giới Tính'" ></kendo-dropdownlist>
                            </div>
                        </div>
                        <div class="form-group row frgrrow">
                            <label class="col-sm-3 col-form-label">Địa Chỉ</label>
                            <div class="col-sm-9">
                                <input type="text"  class="form-control" id="addrEmp" value="">
                            </div>
                        </div>
                        <div class="form-group row frgrrow">
                            <label class="col-sm-3 col-form-label">Quốc Gia</label>
                            <div class="col-sm-9">
                                <kendo-dropdownlist class="w-100 form-control" [data]="listCountry" [value]="'Chọn Quốc Gia'" ></kendo-dropdownlist>
                            </div>
                        </div>
                        <div class="form-group row frgrrow">
                            <label class="col-sm-3 col-form-label">Phòng Ban</label>
                            <div class="col-sm-9">
                                <kendo-dropdownlist class="w-100 form-control" [data]="listDep" [value]="'Chọn Phòng Ban'" ></kendo-dropdownlist>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row frgrrow">
                            <label class="col-sm-3 col-form-label">Họ/Tên Lót</label>
                            <div class="col-sm-9">
                                <input type="text"  class="form-control" id="depEmp" value="">
                            </div>
                        </div>
                        <div class="form-group row frgrrow">
                            <label class="col-sm-3 col-form-label">Ngày Sinh</label>
                            <div class="col-sm-9">
                                <kendo-datepicker class="w-100 form-control" [value]="value"></kendo-datepicker>
                            </div>
                        </div>
                        <div class="form-group row frgrrow">
                            <label class="col-sm-3 col-form-label">Tỉnh/Thành</label>
                            <div class="col-sm-9">
                                <kendo-dropdownlist class="w-100 form-control" [data]="listCity" [value]="'Chọn Tỉnh/Thành'" ></kendo-dropdownlist>
                            </div>
                        </div>
                        <div class="form-group row frgrrow">
                            <label class="col-sm-3 col-form-label">Mã Nhân Viên</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="idEmp" value="">
                            </div>
                        </div>
                        <div class="form-group row frgrrow">
                            <label class="col-sm-3 col-form-label">Chức Vụ</label>
                            <div class="col-sm-9">
                                <kendo-dropdownlist class="w-100 form-control" [data]="listPosi" [value]="'Chọn Chức Vụ'" ></kendo-dropdownlist>
                            </div>
                        </div>

                    </div>
                </div>
                <h5 class="border-bottom pb-1">Thông Tin Liên Hệ</h5>
                <div class="row pt-3">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row frgrrow">
                            <label class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="emailEmp" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row frgrrow">
                            <label class="col-sm-3 col-form-label">Số Điện Thoại</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="phoneEmp" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>