.btn-switch {
    width: 150px;
}

.p2 {
    text-align: right;
}

.chd {
    width: 205px;
    height: 57px;
}

#xem {
    width: 90px;
}

#bb {
    display:block;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 1px solid gray;
}

.k-switch-on:hover .k-switch-container, .k-switch-on.k-state-hover .k-switch-container {
    color: #fff;
    background-color: rgb(0, 200, 0);
}
.k-switch-on .k-switch-container {
    color: #fff;
    background-color: rgb(0, 200, 0);
}