<div class="main">
    <div class="header">
        <nav class="nav nav-pills flex-column flex-sm-row d-flex justify-content-between container d-inline-block p-2">
            <h1>Matxi</h1>
            <a class="flex-sm-fill text-sm-center nav-link" href="#"> <u>Dashboard</u> </a>
            <a class="flex-sm-fill text-sm-center nav-link" href="#"> <u>Quản lý sản phẩm</u> </a>
            <a class="flex-sm-fill text-sm-center nav-link" href="#"> <u>Thiết lập</u> </a>
        </nav>
        <hr>
    </div>
    <div class="body">
        <div class="create-delivery-note p-4">
            <h3>TẠO PHIẾU CHUYỂN KHO</h3>
            <br>

            <fieldset class="p-3 fs " >
                <legend class="title-border" >Thông Tin Chuyển Kho</legend>

                <div class="row"> 
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Từ Kho</label>
                            <div class="col-sm-10">
                                <kendo-dropdownlist class="w-100" [data]="listFrSto" [value]="'Chọn Kho'" ></kendo-dropdownlist>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Ngày Chuyển</label>
                            <div class="col-sm-10">
                                <kendo-datepicker class="w-100" [value]="value"></kendo-datepicker>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Đến Kho</label>
                            <div class="col-sm-10">
                                <kendo-dropdownlist class="w-100" [data]="listToSto" [value]="'Chọn Kho'" ></kendo-dropdownlist>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label  class="col-sm-2 col-form-label">Ghi chú</label>
                            <div class="col-sm-10">
                                <textarea  class="form-control w-100" id="input" rows="7" placeholder="Write here..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        
        <div class="list-product p-4">
            <h3>DANH SÁCH SẢN PHẨM</h3>
            <br>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="product-tab" data-toggle="tab" href="#product" role="tab" aria-controls="product" aria-selected="true">Sản Phẩm</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="package-tab" data-toggle="tab" href="#package" role="tab" aria-controls="package" aria-selected="false">Kiện Hàng</a>
                    </li>
                </ul>
                
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active pt-4" id="product" role="tabpanel" aria-labelledby="product-tab">

                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Danh Mục</label>
                                    <div class="col-sm-10">
                                        <kendo-dropdownlist class="w-100" [data]="listCata" [value]="'Chọn Danh Mục'" ></kendo-dropdownlist>
                                    </div>
                                </div>
                                 
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Sản Phẩm</label>
                                    <div class="col-sm-10">
                                        <kendo-dropdownlist class="w-100" [data]="listProd" [value]="'Chọn Sản Phảm'" ></kendo-dropdownlist>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-4">
                                <button type="button" class="btn btn-info w-100">Tìm Kiếm</button>
                            </div>
                        </div>

                        <kendo-grid
                                [data]="gridView"
                                [pageSize]="pageSize"
                                [skip]="skip"
                                [pageable]="true"
                                kendoGridSelectBy="productID"
                                [selectedKeys]="mySelection"
                                [selectable]="true"
                            >
                            <kendo-grid-checkbox-column showSelectAll="true" [width]="40"></kendo-grid-checkbox-column>
                            <kendo-grid-column field="product" title="Sản Phẩm"></kendo-grid-column>
                            <kendo-grid-column field="batchNo" title="Số Lô" ></kendo-grid-column>
                            <kendo-grid-column field="doproduce" editor="date" title="Ngày sản xuất" ></kendo-grid-column>
                            <kendo-grid-column field="expiry" editor="date" title="Hạn sử dụng" ></kendo-grid-column>
                            <kendo-grid-column field="stored" editor="numeric" title="Tồn kho"></kendo-grid-column>
                            <kendo-grid-column field="available" editor="numeric" title="Tồn kho khả dụng" ></kendo-grid-column>
                        </kendo-grid>

                  </div>
                  <div class="tab-pane fade" id="package" role="tabpanel" aria-labelledby="package-tab">ABC</div>

                  </div>    
        </div>

        <div class="detail-note p-4">
            <h3>CHI TIẾT THU NHẬP</h3>
            <br>
            <form novalidate #myForm="ngForm">
                <kendo-grid
                    [kendoGridTemplateEditing]="createNewInfo"
                    [kendoGridBinding]="infos"
                    [pageSize]="10"
                    [pageable]="true"
                    [sortable]="true"
                    [navigable]="true"
                  >
                    <kendo-grid-column field="product" title="Sản Phẩm" [width]="500">
                      <!-- <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                          <input [(ngModel)]="dataItem.product" kendoGridFocusable name="product" class="k-textbox" required/>
                      </ng-template> -->
                    </kendo-grid-column>
                    <kendo-grid-column field="batchNo" title="Số Lô" [width]="150">
                      <!-- <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                          <input [(ngModel)]="dataItem.discount" kendoGridFocusable name="discount" required/>
                      </ng-template> -->
                    </kendo-grid-column>
                    <kendo-grid-column field="doproduce" title=" Ngày Sản Xuất" [width]="200">
                    <!-- <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                        <input [(ngModel)]="dataItem.addfee" kendoGridFocusable name="addfee" class="k-textbox" required/>
                    </ng-template> -->
                    </kendo-grid-column>
                    
                  <kendo-grid-column field="expiry"  title="Hạn Sử Dụng" [width]="200">
                    <!-- <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                        <input [(ngModel)]="dataItem.unitPrice" kendoGridFocusable name="unitPrice" class="k-textbox" required/>
                    </ng-template> -->
                    </kendo-grid-column>
                    <kendo-grid-column field="amount" editor="numeric" title="Số Lượng" [width]="200">
                        <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                            <input
                                [(ngModel)]="dataItem.amount"
                                kendoGridFocusable
                                name="amount"
                                required
                                min="0"
                                max="999"
                                class="k-textbox"
                                type="number"/>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="package"  title="Kiện Hàng" [width]="310">
                        <!-- <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                            <input [(ngModel)]="dataItem.total" kendoGridFocusable name="total" class="k-textbox" required/>
                        </ng-template> -->
                        </kendo-grid-column>
                  <kendo-grid-command-column title="" [width]="200">
                      <ng-template kendoGridCellTemplate let-isNew="isNew">
                          <button kendoGridEditCommand type="button" [primary]="true"><span class="k-icon k-i-pencil"></span></button>
                          <button class="btc" kendoGridRemoveCommand type="button"><span class="k-icon k-i-delete"></span></button>
                          <button kendoGridSaveCommand type="button" [disabled]="myForm.invalid">{{ isNew ? 'Thêm' : 'Cập Nhật' }}</button>
                          <button class=" btc" kendoGridCancelCommand type="button">{{ isNew ? 'Hủy' : 'Hủy' }}</button>
                      </ng-template>
                  </kendo-grid-command-column>
                </kendo-grid>
            </form>

            <div class="d-flex justify-content-between pt-4">
                <button type="button" class="btn btn-secondary"><span class="k-icon k-i-undo"></span> Quay Lại</button>
                <button type="button" class="btn btn-success">Tạo Phiếu</button>
            </div>
        </div>
    </div>
</div>