<div class="detail-package p-4 d-inline-block ">
    <div class="d-flex justify-content-between p-2 ">
        <h4>CHI TIẾT KIỆN HÀNG 1</h4>
    </div>
    <kendo-grid [data]="gridData1" style="height: 227px"
            id="infosGrid"
            (cellClick)="cellClickHandler($event)"
            [groupable]="true"
            [group]="groups"
            (groupChange)="groupChange($event)"
            (add)="addHandler()"
            (remove)="removeHandler($event)"
            >
            <ng-template kendoGridToolbarTemplate>
                <button class="bap" kendoGridAddCommand>Tạo Kiện Hàng</button>
                <button *ngIf="formGroup"
                    (click)="cancelHandler()"
                    class="k-button k-primary">Hủy</button>
            </ng-template>

        <kendo-grid-column field="product" title="Sản Phẩm"></kendo-grid-column>
        <kendo-grid-column field="batchNo" title="Số Lô" ></kendo-grid-column>
        <kendo-grid-column field="doproduce" editor="date" title="Ngày sản xuất" ></kendo-grid-column>
        <kendo-grid-column field="expiry" editor="date" title="Hạn sử dụng" ></kendo-grid-column>
        <kendo-grid-column field="stored" editor="numeric" title="Tồn kho"></kendo-grid-column>
        <kendo-grid-column field="detailAmount" editor="numeric" title="Số lượng" ></kendo-grid-column>
        <kendo-grid-command-column title="command" width="100">
            <ng-template kendoGridCellTemplate let-isNew="isNew">
                <button class="btc" kendoGridRemoveCommand><span class="k-icon k-i-delete"></span></button>
            </ng-template>
        </kendo-grid-command-column>
        
    </kendo-grid>
    
    <div class="d-flex justify-content-between p-2 ">
        <button type="button" class="btn btn-secondary">Quay lại</button>
    </div>
    
</div>