::ng-deep.k-grouping-header.k-grouping-header-flex{
    display: none;
}

::ng-deep.bap{
    background-color: #28a745;
}

::ng-deep.k-button{
    background-color: #28a745;
    background-image: linear-gradient(#37b400,#37b400);
    color: white;
}
::ng-deep.btc {
    background-color: #ff6358;
    background-image: linear-gradient(#ff6358,red);
}
