<div class="main d-inline-block" >
    <div class="header" >

            <nav class="nav nav-pills flex-column flex-sm-row d-flex justify-content-between container d-inline-block p-2">
                <h1>Matxi</h1>
                <a class="flex-sm-fill text-sm-center nav-link" href="#"> <u>Dashboard</u> </a>
                <a class="flex-sm-fill text-sm-center nav-link" href="#"> <u>Quản lý sản phẩm</u> </a>
                <a class="flex-sm-fill text-sm-center nav-link" href="#"> <u>Thiết lập</u> </a>
            </nav>
            <hr>
    </div>

    <div class="body" >
        <div class="info-package p-4">
            <h4>TẠO KIỆN HÀNG</h4>
                <fieldset style="border:1px solid #cccc;" class="p-4 " >
                    <legend class="title-border" >Thông tin đơn hàng</legend>

                    <div class="d-flex justify-content-between">
                        <div class="ml-4" >Khách Hàng</div> 
                        <kendo-dropdownlist class="mr-5 drl" [data]="listCus" [value]="'Chọn Khách Hàng'" ></kendo-dropdownlist>
                        <div class="ml-4" >Đơn Hàng</div> 
                        <kendo-dropdownlist class="mr-5 drl" [data]="listOrd" [value]="'Chọn Đơn Hàng'"></kendo-dropdownlist>
                    </div>
                    <br>

                    <h3>CHI TIẾT ĐƠN HÀNG</h3>
                    <kendo-grid [data]="gridData" style="height: 182px">
                        <kendo-grid-column field="product" title="Sản Phẩm" width="400"></kendo-grid-column>
                        <kendo-grid-column field="detailAmount" title="Số Lượng" width="250"></kendo-grid-column>
                    </kendo-grid>
                </fieldset>
        </div>

        <div class="list-package p-4 ">
            <h4>DANH SÁCH SẢN PHẨM</h4>
            <p>*Dựa vào nhân viên kho đang đăng nhập để hiển thị sản phẩm trong kho </p>
            <div class="d-flex justify-content-between p-5 d-inline-block">
                <div class="ml-3" >Danh Mục</div> 
                <kendo-dropdownlist class=" drl" [data]="listTMed" [value]="'Chọn Danh Mục'" ></kendo-dropdownlist>
                <div class="ml-3" >Sản Phẩm</div> 
                <kendo-dropdownlist class=" drl" [data]="listMed" [value]="'Chọn Sản Phẩm'"></kendo-dropdownlist>
                <button type="button" class="btn btn-info">Tìm Kiếm</button>
            </div>

            <kendo-grid [data]="gridData" style="height: 182px">
                <kendo-grid-column field="product" title="Sản Phẩm"></kendo-grid-column>
                <kendo-grid-column field="batchNo" title="Số Lô" ></kendo-grid-column>
                <kendo-grid-column field="doproduce" title="Ngày sản xuất" ></kendo-grid-column>
                <kendo-grid-column field="expiry" title="Hạn sử dụng" ></kendo-grid-column>
                <kendo-grid-column field="stored" title="Tồn kho"></kendo-grid-column>
                <kendo-grid-column field="available" title="Tồn kho khả dụng" ></kendo-grid-column>
            </kendo-grid>

        </div>

        

    </div>
</div>