.btn-switch {
    width: 150px;
}

.p2 {
    text-align: right;
}

.chd {
    width: 205px;
    height: 57px;
}

#xem {
    width: 110px;
}

#bb {
    display:block;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 1px solid gray;
}