<!-- Dropdown -->

<div class="d-flex justify-content-around">
    <div class="d-flex justify-content-around">
            <kendo-dropdownlist class="dt" [data]="listTour" [value]="'Sài Gòn - Vũng Tàu'"></kendo-dropdownlist>
    </div>

    <div class="d-flex justify-content-around">
            <kendo-datepicker class="dt" [value]="value"></kendo-datepicker>
    </div>

    <div class="d-flex justify-content-around">
            <kendo-timepicker class="dt" [value]="value"></kendo-timepicker>
    </div>

    <div class="d-flex justify-content-around">
            <kendo-dropdownlist class="dt" [data]="listNumPlate" [value]="'59H1 - 9999'"></kendo-dropdownlist>
    </div>

    <div class="d-flex justify-content-around">
        <button onclick="window.location.reload();" class="btn btn-primary dt"> <i style="font-size: 15px;" class="material-icons">refresh</i> Làm Mới </button>
    </div>

    <div class="d-flex justify-content-around">
        <kendo-switch class="btn-switch dt"
            [(ngModel)]="checked"
            [onLabel]="'ĐÃ XUẤT BẾN'"
            [offLabel]="'CHƯA XUẤT BẾN'">
        </kendo-switch>
    </div>
</div>

    
