
<div style="text-align: center; font-size: 30px;" > <b>Nhập Sản Xuất</b> </div> 
<div class="d-flex justify-content-between">
    <kendo-card [width]="'1110px'">
            <kendo-card-header>
                <h1 kendoCardTitle> <b style="font-size: 20px;" >Thông tin sản xuất</b> </h1>
            </kendo-card-header>
            <kendo-card-body>
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-start flex-column bd-highlight mb-3 hc">
                        <div class="p-2 mt-2">
                            Đơn vị sản xuất
                        </div>
                        <div class="p-2 mt-2 ">
                            Ngày nhận
                        </div>
                        <div class="p-2 mt-2">
                            Nhập kho
                        </div>
                    </div>
                    <div class="d-flex align-items-start flex-column bd-highlight mb-3 hc">
                        <div class="p-2">
                            <kendo-dropdownlist class="dt" [data]="listMed" [value]="'Medino'"></kendo-dropdownlist>
                        </div>
                        <div class="p-2 ">
                            <kendo-datepicker [value]="value"></kendo-datepicker>
                        </div>
                        <div class="p-2 ">
                            <kendo-dropdownlist class="dt" [data]="listStored" [value]="'SX'"></kendo-dropdownlist>
                        </div>
                    </div>
                    <div class="d-flex align-items-end flex-column bd-highlight mb-3 hc">
                        <div class="p-2 ">
                            Ghi Chú
                        </div>
                        <div class="p-2 ">
                            <textarea name="Ghi Chú" id="" cols="40" rows="4"></textarea>
                        </div> 
                    </div>
                </div>
            </kendo-card-body>
    </kendo-card>
</div>

