
<div class="d-flex justify-content-between">
    <div class="d-flex justify-content-start">
        <kendo-card [width]="'660px'" [orientation]="'horizontal'">
            <img kendoCardMedia src="../../../assets/image/car.PNG" />
            <div class="k-vbox">
                <kendo-card-header>
                    <h1 kendoCardTitle> <b>Tổng số ghế đã đặt:</b> </h1>
                    <div kendoCardSubtitle>
                    </div>
                </kendo-card-header>
                <kendo-card-header>
                    <h1 kendoCardTitle> <b>Tổng số ghế trống:</b> </h1>
                    <div kendoCardSubtitle>
                    </div>
                </kendo-card-header>
                <kendo-card-body>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Tổng số ghế của xe:</li>
                    </ul>
                </kendo-card-body>
            </div>
        </kendo-card>
    </div>
    <div class="d-flex justify-content-between">
        <kendo-card [width]="'660px'" [orientation]="'horizontal'">
            <img kendoCardMedia src="../../../assets/image/money.PNG" />
            <div class="k-vbox">
                <kendo-card-header>
                    <h1 kendoCardTitle> <b>Tiền vế đặt cần thu:</b> </h1>
                    <div kendoCardSubtitle>
                    </div>
                </kendo-card-header>
                <kendo-card-header>
                    <h1 kendoCardTitle> <b>Tiền vé thu thực tế:</b> </h1>
                    <div kendoCardSubtitle>
                    </div>
                </kendo-card-header>
                <kendo-card-body>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Tiền thu của tuyến khác:</li>
                    </ul>
                </kendo-card-body>
            </div>
        </kendo-card>
    </div>
    <div class="d-flex justify-content-end">
        <kendo-card [width]="'290px'" [orientation]="'horizontal'">

            <div class="d-flex align-items-between flex-column bd-highlight mb-3"  id="minimap">
                <div class="bd-highlight">
                    <div style="text-align: center;" >Tầng Trên</div>
                </div>
                <div class="bd-highlight">
                    <button type="button" class="btn btn-primary mr-3"></button>
                    <button type="button" class="btn btn-light disabled mr-3"></button>
                    <button type="button" class="btn btn-primary mr-3"></button>
                </div>
                <div class="bd-highlight">
                    <button type="button" class="btn btn-danger mr-3"></button>
                    <button type="button" class="btn btn-primary mr-3"></button>
                    <button type="button" class="btn btn-secondary mr-3"></button>
                </div>
                <div class="bd-highlight">
                    <button type="button" class="btn btn-primary mr-3"></button>
                    <button type="button" class="btn btn-light disabled mr-3"></button>
                    <button type="button" class="btn btn-primary mr-3"></button>
                </div>
                <div class="bd-highlight">
                    <button type="button" class="btn btn-light disabled mr-3"></button>
                    <button type="button" class="btn btn-light disabled mr-3"></button>
                    <button type="button" class="btn btn-light disabled mr-3"></button>
                </div>
                <div class="bd-highlight">
                    <button type="button" class="btn btn-light disabled mr-3"></button>
                    <button type="button" class="btn btn-light disabled mr-3"></button>
                    <button type="button" class="btn btn-light disabled mr-3"></button>
                </div>
                <div class="bd-highlight">
                    <button type="button" class="btn btn-light disabled mr-3"></button>
                    <button type="button" class="btn btn-light disabled mr-3"></button>
                    <button type="button" class="btn btn-light disabled mr-3"></button>
                </div>
                <div class="bd-highlight">
                    <button type="button" class="btn btn-light disabled mr-3"></button>
                    <button type="button" class="btn btn-light disabled mr-3"></button>
                    <button type="button" class="btn btn-light disabled mr-3"></button>
                </div>
                
                    
            </div>
        </kendo-card>
    </div>
</div>
