<kendo-grid [data]="detailts" scrollable="scrollable">
    <kendo-grid-column field="fullname" title="Khách Hàng" [width]="300" [locked]="true" >
    </kendo-grid-column>
    <kendo-grid-column field="total" title="Tổng Đặt Hàng" [width]="300" [locked]="true" >
    </kendo-grid-column>
    
    <kendo-grid-column [locked]="false" [width]="100" *ngFor="let column of columns" field="{{column.field}}" title="{{column.title}}">
    </kendo-grid-column>

    
      
     

</kendo-grid>
 <!-- <ng-template ngFor [ngForOf]="columns" let-column></ng-template> -->

