<div class="d-flex justify-content-between">
    <div class="d-flex justify-content-start">
        <a class="logo" href=""><img style="width: 92.3px; height: 24.7px" src="../../../assets/image/logo.PNG" alt="logo"></a> 
    </div>
    <div class="d-flex justify-content-between">
        <p class="name">Quản Lý Phơi vé</p>
    </div>
    <div class="d-flex justify-content-end">
        <a class="avt-ico" href=""> <img style="width: 30px; height: 30px" src="../../../assets/image/avt-ico.png" alt="icon"></a>
    </div>
</div>
    <hr>

