<h1 class="border-bottom" style="text-align: center;">New Contract</h1>
<div class="main border p-3 pt-3">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-group row fm">
                <label  class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="inputFirst" value="">
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="form-group row fm">
                <label  class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="inputLast" value="">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-group row fm">
                <label  class="col-sm-1 col-form-label">Address</label>
                <div class="col-sm-11">
                <input type="text" class="form-control" id="inputAddr" value="">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row fm">
        <label class="col-sm-12 col-md-1">Phone</label>
        <div class="col-sm-12 col-md-11">
            <form #f="ngForm" [formGroup]="phoneForm">
                <div class="mb-2">
                  <ngx-intl-tel-input
                    [inputId]="'adsasd'"
                    [cssClass]="'custom'" 
                    [preferredCountries]="preferredCountries"
                    [enableAutoCountrySelect]="false" 
                    [enablePlaceholder]="true" 
                    [searchCountryFlag]="true"
                    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                    [selectFirstCountry]="false" 
                    [selectedCountryISO]="CountryISO.India"
                    [maxLength]="15" 
                    [tooltipField]="TooltipLabel.Name" 
                    [phoneValidation]="true" 
                    [separateDialCode]="separateDialCode"
                    name="phone" formControlName="phone">
                  </ngx-intl-tel-input>
                </div>
                <!-- <div class="mb-2">
                  <button (click)="f.reset()">Reset</button>
                </div> -->
              </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-group row fm">
                <label  class="col-sm-2 col-form-label">Birth Date</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="inputBirth" value="">
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="form-group row fm">
                <label  class="col-sm-2 col-form-label">IDno</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="inputIDno" value="">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row fm">
        <label  class="col-sm-1 col-form-label">Email</label>
        <div class="col-sm-11">
        <input type="text" class="form-control" id="inputEmail" value="">
        </div>
    </div>
    <div class="form-group row fm">
        <label  class="col-sm-1 col-form-label">Income</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputEmail" value="">
        </div>
        <div class="col-sm-2">
            <kendo-dropdownlist class="w-100 form-control" [data]="listUnit" [value]="'Đơn vị'" ></kendo-dropdownlist>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-group row fm">
                <label  class="col-sm-1 col-form-label">Preference</label>
                <div class="col-sm-11">
                    <kendo-dropdownlist class="w-100 form-control" [data]="listPre" [value]="'Select'" ></kendo-dropdownlist>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-group row fm">
                <label  class="col-sm-2 col-form-label">Expired Date</label>
                <div class="col-sm-10">
                    <kendo-datepicker class="w-100 form-control" [value]="value"></kendo-datepicker>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="form-group row fm">
                <label  class="col-sm-2 col-form-label">Estimate Value</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="inputLast" value="">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row fm">
        <div style="text-align: center;" class="col-sm-6">
            <button type="button" class="btn btn-success">Create</button>
        </div>
        <div style="text-align: center;" class="col-sm-6">
            <button type="button" class="btn btn-danger">Cancel</button>
        </div>
    </div>

</div>

