<div class="main">
    <div class="header">
        <nav class="nav nav-pills flex-column flex-sm-row d-flex justify-content-between container d-inline-block p-2">
            <h1>Matxi</h1>
            <a class="flex-sm-fill text-sm-center nav-link" href="#"> <u>Dashboard</u> </a>
            <a class="flex-sm-fill text-sm-center nav-link" href="#"> <u>Quản lý sản phẩm</u> </a>
            <a class="flex-sm-fill text-sm-center nav-link" href="#"> <u>Thiết lập</u> </a>
        </nav>
        <hr>
    </div>

    <div class="body">
        
        <div class="create-invoiced p-4">
            <h4 class="ml-5">TẠO ĐƠN HÀNG</h4>
            <br>

            <div class="d-flex justify-content-between p-2">

                <!-- Cột start -->
                <div class="d-flex align-items-start flex-column bd-highlight">

                    <!-- XUỐNG HÀNG -->
                    <div class="p-2 bd-highlight">  

                        <!-- Phân cách trong 1 hàng -->
                        <div class="d-flex flex-row bd-highlight">

                            <!-- Qua Cột trong 1 hàng -->
                            <div class="p-2 bd-highlight">
                                <div class="ml-5" >Tên Khách Hàng</div>
                            </div>
                            <!-- Qua Cột trong 1 hàng -->
                            <div class="p-2 bd-highlight">
                                <kendo-dropdownlist class="ml-5 drl" [data]="listCus" [value]="'Chọn Khách Hàng'" ></kendo-dropdownlist>
                            </div>

                        </div>
                    </div>

                    <!-- XUỐNG HÀNG -->
                    <div class="p-2 bd-highlight">

                        <!-- Phân cách trong 1 hàng -->
                        <div class="d-flex flex-row bd-highlight ">
                            <!-- Qua Cột trong 1 hàng -->
                            <div class="p-2 bd-highlight">
                                <div class="ml-5" >Số Điện Thoại</div> 
                            </div>
                            <!-- Qua Cột trong 1 hàng -->
                            <div class="p-2 bd-highlight">
                                <input style="margin-left: 1.7cm;" type="phone" class="form-control" id="input" placeholder="0123 456 789">
                            </div>
                        </div>
                    </div>

                    <!-- XUỐNG HÀNG -->
                    <div class="p-2 bd-highlight">  

                        <!-- Phân cách trong 1 hàng -->
                        <div class="d-flex flex-row bd-highlight">

                            <!-- Qua Cột trong 1 hàng -->
                            <div class="p-2 bd-highlight">
                                <div class="ml-5" >Địa Chỉ Đặt</div>
                            </div>
                            <!-- Qua Cột trong 1 hàng -->
                            <div class="p-2 bd-highlight">
                                <textarea style="margin-left: 2.1cm" class="form-control" id="input" rows="4" placeholder="Write here..."></textarea>
                            </div>

                        </div>
                    </div>
                    
                    <div class="p-2 bd-highlight">  

                        <!-- Phân cách trong 1 hàng -->
                        <div class="d-flex flex-row bd-highlight">

                            <!-- Qua Cột trong 1 hàng -->
                            <div class="p-2 bd-highlight">
                                <div class="ml-5" >Giao Dự Kiến</div>
                            </div>
                            <!-- Qua Cột trong 1 hàng -->
                            <div class="p-2 bd-highlight">
                                <kendo-datepicker style="margin-left: 1.8cm" class="dt" [value]="value"></kendo-datepicker>
                            </div>

                        </div>
                    </div>

                    <div class="p-2 bd-highlight">  

                        <!-- Phân cách trong 1 hàng -->
                        <div class="d-flex flex-row bd-highlight">

                            <!-- Qua Cột trong 1 hàng -->
                            <div class="p-2 bd-highlight">
                                <div class="ml-5" >Thanh Toán</div>
                            </div>
                            <!-- Qua Cột trong 1 hàng -->
                            <div class="p-2 bd-highlight">
                                <kendo-dropdownlist style="margin-left: 2.1cm"  class="drl" [data]="listPay" [value]="'Chọn Phương Thức Thanh Toán'" ></kendo-dropdownlist>
                            </div>

                        </div>
                    </div>

                    <div class="p-2 bd-highlight">  

                        <!-- Phân cách trong 1 hàng -->
                        <div class="d-flex flex-row bd-highlight">

                            <!-- Qua Cột trong 1 hàng -->
                            <div class="p-2 bd-highlight">
                                <div class="ml-5 mt-2" >Chiết Khấu</div>
                            </div>
                            <!-- Qua Cột trong 1 hàng -->
                            <div class="p-2 bd-highlight">
                                <input style="margin-left: 2.2cm;" type="" class="form-control" id="ck" placeholder="5">
                            </div>
                            <div class="p-2 bd-highlight">
                                <kendo-dropdownlist class="ml-5 mt-1 dv" [data]="listUnt" [value]="'Đơn Vị'" ></kendo-dropdownlist>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Hết cột Start -->


                <!-- Cột End -->
                <div class="d-flex align-items-end flex-column bd-highlight mb-3" style="height: 200px;">
                    <div class="p-2 bd-highlight">
                        <div class="d-flex flex-row bd-highlight">
                            <div class="p-2 bd-highlight">
                                <div class="mr-5 p-2" >Email</div> 
                            </div>
                            <div class="p-2 bd-highlight">
                                <input type="email" class="form-control mr-5" id="input" placeholder="name@example.com">
                            </div>

                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="d-flex flex-row bd-highlight">
                            <div class="p-2 bd-highlight">
                                <div class="mr-5 p-2" >Địa Chỉ Giao</div> 
                            </div>
                            <div class="p-2 bd-highlight">
                                <textarea class="form-control mr-5" id="input" rows="7" placeholder="Write here..."></textarea>
                            </div>
                        </div>
                        <div class="d-flex flex-row bd-highlight">
                            <div class="p-2 bd-highlight">
                                <div class="mr-5 p-2" >Ghi Chú</div> 
                            </div>
                            <div class="p-2 bd-highlight">
                                <textarea style="margin-left: 0.8cm;" class="form-control " id="input" rows="4.5" placeholder="Write here..."></textarea>
                            </div>
                        </div>
                        <div class="d-flex flex-row bd-highlight">
                            <div class="p-2 bd-highlight">
                                <div class="ml-5 mt-3" >Phụ Phí</div>
                            </div>
                            <!-- Qua Cột trong 1 hàng -->
                            <div class="p-3 bd-highlight">
                                <input style="margin-left: 1.1cm;" type="" class="form-control" id="ck" placeholder="0">
                            </div>
                            <div class="p-3 bd-highlight">
                                <kendo-dropdownlist class="ml-4 mt-1 dv" [data]="listUnt" [value]="'Đơn Vị'" ></kendo-dropdownlist>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Hết cột End -->
            </div>
        </div>
    </div>
</div>
