<div style="background-color: #f7f7f7;width: 401px;" class="card mr-4">

    <div class="d-flex justify-content-between">

        <div class="d-flex justify-content-start">

            <div class="d-flex align-items-start flex-column bd-highlight mb-3 hcn" style="height: 244px;">
                <div class="bd-highlight">
                    <div class="card text-white bg-secondary mb-3">
                        <div style="font-size: 20px;text-align: center;" class="card-header chd">A8</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="d-flex justify-content-end">

            <div class="d-flex align-items-end flex-column bd-highlight mb-3" style="height: 244px;">
                <div class="card mb-3" style="max-width: 18rem;">
                    <div class="card-header" style="font-size: 20px;text-align: center;" class="card-header">
                        <kendo-switch class="btn-switch" 
                            [checked]="false" 
                            [disabled]="disabled" 
                            [onLabel]="'ĐÃ LÊN XE'"
                            [offLabel]="'CHƯA LÊN XE'">
                        </kendo-switch>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>