.my-custom-icon-class:before {
    content: "\e13a"; /* Adds a glyph using the Unicode character number */
}

::ng-deep.k-grouping-header.k-grouping-header-flex{
    display: none;
}

::ng-deep.k-button {
    border-color: rgba(0,0,0,0.08);
    color: #ffffff;
    background-color: #37b400;
    background-image: linear-gradient(#8ce664,#37b400);
}

::ng-deep.btc {
    background-color: #ff6358;
    background-image: linear-gradient(#ff6358,red);
}

::ng-deep.k-button.k-primary {
    border-color: #388ae2;
    color: #fff;
    background-color: #007bff;
    background-image: linear-gradient(#f5e9c5,#007bff);
}

