<div class="list-invoiced p-5">
    <h3 class="pb-3">DANH SÁCH SẢN PHẨM</h3>
<kendo-grid
    [data]="gridView"
    [pageSize]="pageSize"
    [skip]="skip"
    [pageable]="true"
    (pageChange)="pageChange($event)"
    kendoGridSelectBy="productID"
    [selectedKeys]="mySelection"
    >
    <kendo-grid-checkbox-column showSelectAll="true" [width]="40"></kendo-grid-checkbox-column>
    <kendo-grid-column field="product" title="Sản Phẩm" ></kendo-grid-column>
    <kendo-grid-column field="price" title="Giá" [width]="400"></kendo-grid-column>
    <kendo-grid-column field="stored" title="Tổng Tồn Kho" [width]="400"></kendo-grid-column>
</kendo-grid>

<div class="d-flex justify-content-between pt-5 ">
    <br>

    <form novalidate #myForm="ngForm">
        <kendo-grid
            [kendoGridTemplateEditing]="createNewInfo"
            [kendoGridBinding]="infos"
            [pageSize]="10"
            [pageable]="true"
            [sortable]="true"
            [navigable]="true"
          >
          <ng-template kendoGridToolbarTemplate>
              <button kendoGridAddCommand type="button"><span class="k-icon k-i-plus"></span> Thêm Sản Phẩm</button>
            </ng-template>
            <kendo-grid-column field="product" title="Sản Phẩm" [width]="500">
              <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                  <input [(ngModel)]="dataItem.product" kendoGridFocusable name="product" class="k-textbox" required/>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="discount" title="Chiết Khấu" [width]="150">
              <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                  <input [(ngModel)]="dataItem.discount" kendoGridFocusable name="discount" required/>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="addfee" editor="numeric" title="Phụ Phí" [width]="100">
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <input [(ngModel)]="dataItem.addfee" kendoGridFocusable name="addfee" class="k-textbox" required/>
            </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="amount" editor="numeric" title="Số Lượng" [width]="200">
              <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                  <input
                      [(ngModel)]="dataItem.amount"
                      kendoGridFocusable
                      name="amount"
                      required
                      min="0"
                      max="999"
                      class="k-textbox"
                      type="number"/>
              </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="unitPrice" editor="numeric" title="Đơn Giá" [width]="300">
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <input [(ngModel)]="dataItem.unitPrice" kendoGridFocusable name="unitPrice" class="k-textbox" required/>
            </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="total" editor="numeric" title="Thành Tiền" [width]="310">
                <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                    <input [(ngModel)]="dataItem.total" kendoGridFocusable name="total" class="k-textbox" required/>
                </ng-template>
                </kendo-grid-column>
          <kendo-grid-command-column title="" [width]="200">
              <ng-template kendoGridCellTemplate let-isNew="isNew">
                  <button kendoGridEditCommand type="button" [primary]="true"><span class="k-icon k-i-pencil"></span></button>
                  <button class="btc" kendoGridRemoveCommand type="button"><span class="k-icon k-i-delete"></span></button>
                  <button kendoGridSaveCommand type="button" [disabled]="myForm.invalid">{{ isNew ? 'Thêm' : 'Cập Nhật' }}</button>
                  <button class=" btc" kendoGridCancelCommand type="button">{{ isNew ? 'Hủy' : 'Hủy' }}</button>
              </ng-template>
          </kendo-grid-command-column>
        </kendo-grid>
    </form>
</div>


<div class="d-flex justify-content-between pt-2 ">
    <div class="d-flex justify-content-start">
        <button type="button" class="btn btn-secondary"><span class="k-icon k-i-undo"></span> Quay Lại</button>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-danger mr-4">Hủy</button>
        <button type="button" class="btn btn-success">Tạo Đơn Hàng</button>
    </div>
</div>
    
    



