<!-- <div class="d-flex justify-content-between">
    <kendo-grid [data]="gridData" [height]="400" scrollable="scrollable">
        <kendo-grid-column field="product" title="Sản Phẩm" [width]="190" [locked]="true">
        </kendo-grid-column>
        <kendo-grid-column field="stored" title="Tồn Kho" [width]="150" [locked]="true">
        </kendo-grid-column>
        <kendo-grid-column field="sumDH" title="Tổng Đơn Hàng" [width]="150" [locked]="true">
        </kendo-grid-column>
        <kendo-grid-column field="" title="Khách Hàng" [width]="200" [locked]="true">
        </kendo-grid-column>
        <kendo-grid-column field="" title="Tổng Đặt Hàng" [width]="150" [locked]="true">
        </kendo-grid-column>

        <div *kendoGridDetailTemplate="let dataItem">
            <app-details [detailts]="dataItem.invoiceItems"></app-details>
        </div>


        <kendo-grid-column field="UnitsInStock" title="Units In Stock" [width]="300" [locked]="false">
        </kendo-grid-column>
        <kendo-grid-column field="UnitPrice" title="Unit Price" [width]="300" [locked]="false">
        </kendo-grid-column>
        <kendo-grid-column field="Discontinued" title="Discontinued" [width]="300" [locked]="false">
        </kendo-grid-column>
    </kendo-grid>
</div> -->

<kendo-grid
    [data]="gridData"
    [navigable]="true"
    >
    <kendo-grid-column field="product" title="Sản Phẩm"></kendo-grid-column>
    <kendo-grid-column field="stored" title="Tồn Kho"></kendo-grid-column>
    <kendo-grid-column field="totalInvoive" title="Tổng Đơn Hàng"></kendo-grid-column>

    <div *kendoGridDetailTemplate="let dataItem">
        <app-details [detailts]="dataItem.invoiceItems"></app-details>
    </div>

</kendo-grid>

