<div style="background-color: #f7f7f7;width: 401px;" class="card mr-4">

    <div class="d-flex justify-content-between">

        <div class="d-flex justify-content-start">

            <div class="d-flex align-items-start flex-column bd-highlight mb-3 hcn" style="height: 200px;">
                <div class="bd-highlight">
                    <div class="card text-white bg-primary mb-3">
                        <div style="font-size: 20px;text-align: center;" class="card-header chd">A3</div>
                    </div>
                </div>
                <div class="p-2 bd-highlight">
                    Nguyễn Văn A <br>
                    0909 99 99 99 <br>
                    Đón: BXMĐ <br>
                    Trả: Vũng Tàu <br>
                    <i style="color:grey; font-size: 13.90px;" >Ghi chú: Khách mua 2 vé chung</i>
                </div>
                <div class=" d-flex p-1 bd-highlight">
                    <div class="mr-3 bd-highlight"><button id="bb" type="button" class="btn btn-primary"></button></div>
                    <div class="mr-3 bd-highlight"><button id="bb" type="button" class="btn btn-warning"></button></div>
                    <div class="mr-3 bd-highlight"><button id="bb" type="button" class="btn btn-success"></button></div>
                    <div class="mr-2 bd-highlight"><button id="bb" type="button" class="btn btn-danger"></button></div>
                </div>

              </div>

        </div>

        <div class="d-flex justify-content-end">

            <div class="d-flex align-items-end flex-column bd-highlight mb-3" style="height: 244px;">
                <div class="card mb-3" style="max-width: 18rem;">
                    <div class="card-header" style="font-size: 20px;text-align: center;" class="card-header">
                        <kendo-switch class="btn-switch"
                            [(ngModel)]="checked"
                            [onLabel]="'ĐÃ LÊN XE'"
                            [offLabel]="'CHƯA LÊN XE'">
                        </kendo-switch></div>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="p2" >
                        Số lượng ghế: 2 <br>
                        Đã thu 150.000 VNĐ
                    </div>
                </div>
                <div class="mt-auto p-2 bd-highlight">
                    <br>
                    <div style="color: gray; text-align: right;" >ID: 12344</div>
                </div>
                <div class="p-2 bd-highlight">
                    <button type="button" class="btn btn-primary" id="xem">Xem</button>
                </div>
              </div>
        </div>

    </div>

</div>
