
<b style="font-size: 20px;" >Bảng Sản Phẩm Lọc</b> 
<div class="d-flex justify-content-between">
    <kendo-grid
        [data]="gridView"
        [pageSize]="pageSize"
        [skip]="skip"
        [pageable]="true"
        (pageChange)="pageChange($event)"
        [height]="195"
        kendoGridSelectBy="STT"
        [selectedKeys]="mySelection"
    >
    <kendo-grid-checkbox-column showSelectAll="true"></kendo-grid-checkbox-column>
    <kendo-grid-column field="STT" title="STT" ></kendo-grid-column>
    <kendo-grid-column field="Product" title="Sản Phẩm" [width]="300"></kendo-grid-column>
    <kendo-grid-column field="Storage" title="Kho" [width]="200" ></kendo-grid-column>
    <kendo-grid-column field="Lo" title="Lô" [width]="160" ></kendo-grid-column>
    <kendo-grid-column field="Amount" title="Số Lượng Tồn" [width]="150" ></kendo-grid-column>
    <kendo-grid-column field="Available" title="Số Lượng Khả Dụng" [width]="160" ></kendo-grid-column>
    </kendo-grid>
    <br>
</div>



