<div class="main">
    <div class="header">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <nav
                    class="nav nav-pills flex-column flex-sm-row d-flex justify-content-between container d-inline-block p-2">
                    <h1>SBS</h1>
                    <a class="flex-sm-fill text-sm-center nav-link mt-3" href="#"> <u>
                            <h5>Dashboard</h5>
                        </u> </a>
                    <a class="flex-sm-fill text-sm-center nav-link mt-3" href="#"> <u>
                            <h5>Tra cứu chuyến</h5>
                        </u> </a>
                    <a class="flex-sm-fill text-sm-center nav-link mt-3" href="#"> <u>
                            <h5>Thiết lập</h5>
                        </u> </a>
                </nav>
            </div>
        </div>
    </div>

    <div class="body p-3 w-100">
        <div class="row first ">
            <div class="col-sm-12 col-md-10">
                <h2>Tra cứu chuyến</h2>
                <h4>Chuyến đón từ Bến xe số 1 -> Bến xe số 2</h4>
                <p>Khởi hành: 6:30 - 11/06/2020</p>
            </div>
            <div class="col-sm-12 col-md-2">
                <div class="pt-5 w-100">
                    <kendo-switch class="btn-switch" [checked]='false' [onLabel]="'ĐÃ KHỞI HÀNH'"
                        [offLabel]="'CHƯA KHỞI HÀNH'">
                    </kendo-switch>
                </div>

            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-12 col-md-7 overflow1">
                <div class="form-group row">
                    <div class="col-sm-9">
                        <h4>Tuyến</h4>
                        <img class="im w-100" src="../../../assets/image/direction.png" alt="img">
                    </div>
                    <div class="col-sm-3">
                        <h4>Camera</h4>
                        <div class="card overflow ">
                            <ul class="list-group list-group-flush w-100 h-100 ">
                                <li class="list-group-item">
                                    <span class="k-icon k-i-photo-camera mr-2 mb-1"></span>
                                    Camera 1
                                </li>
                                <li class="list-group-item">
                                    <span class="k-icon k-i-photo-camera mr-2 mb-1"></span>
                                    Camera 2
                                </li>
                                <li class="list-group-item">
                                    <span class="k-icon k-i-photo-camera mr-2 mb-1"></span>
                                    Camera 3
                                </li>
                                <li class="list-group-item">
                                    <span class="k-icon k-i-photo-camera mr-2 mb-1"></span>
                                    Camera 4
                                </li>
                                <li class="list-group-item">
                                    <span class="k-icon k-i-photo-camera mr-2 mb-1"></span>
                                    Camera 5
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <br>

                <h4>Nhân Viên</h4>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <!-- <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol> -->
                    <div class="carousel-inner pt-3 briner">
                        <div class="carousel-item active">
                            <div class="form-group row sli">
                                <div class="col-sm-6 ifd">
                                    Lê Văn T <br>
                                    Chức Vụ : Tài Xế
                                </div>
                                <div class="col-sm-6 ifd">
                                    SĐT: 0385625566 <br>
                                    Giới Tính: Nam
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="form-group row sli">
                                <div class="col-sm-6 ifd">
                                    Lê Văn T <br>
                                    Chức Vụ : Tài Xế
                                </div>
                                <div class="col-sm-6 ifd">
                                    SĐT: 0385625566 <br>
                                    Giới Tính: Nam
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="form-group row sli">
                                <div class="col-sm-6 ifd">
                                    Lê Văn T <br>
                                    Chức Vụ : Tài Xế
                                </div>
                                <div class="col-sm-6 ifd">
                                    SĐT: 0385625566 <br>
                                    Giới Tính: Nam
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                </div>

                <br>

                <h4>Thông tin xe</h4>
                <div class="border p-3 rim">
                    <div class="form-group row ">
                        <div class="col-sm-4">
                            <img class="w-100" src="../../../assets/image/image.jpg" alt="img">
                        </div>
                        <div class="col-sm-4">
                            <img class="w-100" src="../../../assets/image/image.jpg" alt="img">
                        </div>
                        <div class="col-sm-4">
                            <img class="w-100" src="../../../assets/image/image.jpg" alt="img">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <img class="w-100" src="../../../assets/image/image.jpg" alt="img">
                        </div>
                        <div class="col-sm-4">
                            <img class="w-100" src="../../../assets/image/image.jpg" alt="img">
                        </div>
                        <div class="col-sm-4">
                            <img class="w-100" src="../../../assets/image/image.jpg" alt="img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 overflow1 card lstu p-1">
                <div class="card-header">
                    <h5>Danh sách học sinh (5)</h5>
                </div>

                <div class="p-4 ml-4">
                    <div class="form-group row rb w-100" *ngFor="let student of students">
                        <div class="col-sm-10">
                            {{student.studenName}} <br>
                            {{student.stt}}
                        </div>
                        <div class="col-sm-2">
                            Lớp: {{student.class}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
