.im{
    border: solid #3c92ef;
}

.card-header {
    background-color: #3c92ef;
    background-image: linear-gradient(white,#3c92ef);
}



/* .im2{
    width: 310px;
    height: 210px ;
} */

.btn-switch {
    width: 270px;
    font-size: 13px;
}
.bs{
    padding-top: 30px;
    margin-right: 5cm;
}
::ng-deep.k-switch-on:hover .k-switch-container, .k-switch-on.k-state-hover .k-switch-container {
    color: #fff;
    background-color: #1bd43a;
}
::ng-deep.k-switch-on .k-switch-container {
    color: #fff;
    background-color: #1bd43a;  
} 
.overflow{
    text-align: center;
    padding: 3px;
    /* width: 270px;
    height: 420px; */
    overflow: scroll;
    border: 1px solid #ccc;
}


.overflow1{
    overflow: scroll;
    height: 1000px;
}
.carousel-control-next, .carousel-control-prev {
    width: 13%;
}
.fa-chevron-right, .fa-chevron-left {
    color: black;
}
.briner{
    box-shadow: 0px 0px 5px 1px rgb(190, 190, 190);
}
.ifd{
    font-size: 17px;
}
.sli {
    text-align: center;
}
.rim {
    background-color: white;
    
}
.rb{
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgb(190, 190, 190);
}
.lstu{
    background-color: white;
}
.first{
    background-color: #dee2e6;
    background-image: linear-gradient(#dee2e6,white);
}
