<div class="header">
    <div class="header-info border-bottom p-2">
        <h3 style="text-align: center;">Thông Tin </h3>
    </div>
        <br>
    </div>
    <div class="body">
        <ng-wizard [config]="config" (stepChanged)="stepChanged($event)">
 <br>
            <ng-wizard-step [title]="'Bước 1'" [description]="'Tạo Phòng Ban'"> 
                <app-step1></app-step1>
            </ng-wizard-step>
            
            <ng-wizard-step [title]="'Bước 2'" [description]="'Tạo Nhân Viên'">
                <app-step2></app-step2>
            </ng-wizard-step>
         
            <ng-wizard-step [title]="'Bước 3'" [description]="'Step 3 description'">
                <span>Step 3 content</span>
            </ng-wizard-step>
         
            <ng-wizard-step [title]="'Bước 4'" [description]="'Step 4 description'">
                <span>Step 4 content</span>
            </ng-wizard-step>
         
        </ng-wizard>
    </div>

