::ng-deep.btn-secondary{
    box-shadow: 0px 0px 5px 2px rgb(190, 190, 190);
}

::ng-deep.btn-success{
    box-shadow: 0px 0px 5px 2px rgb(190, 190, 190);
}
::ng-deep.btn-danger{
    box-shadow: 0px 0px 5px 2px rgb(190, 190, 190);
}

::ng-deep#ngwizard {
    box-shadow: 0px 0px 4px 1px rgb(190, 190, 190);
}
::ng-deep.btn-toolbar {
    display: block;
}
::ng-deep.ng-wizard-btn-group-extra {
    float: right;
}
.body{
    padding-left: 10px;
    padding-right: 10px;
}
