<div style="font-size: 25px;" > <b>Kế hoạch giao hàng</b> </div> 
<br>
<div class="p-2" style="font-size: 18px;"> <b>Bộ lọc</b> </div>

<div class="d-flex justify-content-between">
    <div class="d-flex align-items-start flex-column bd-highlight mb-3" style="height: 200px;">
        <div class="p-2 bd-highlight">
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">Danh mục</div>
                <div class="p-2 bd-highlight">
                    <kendo-dropdownlist class="ml-2" [data]="listMedicine" [value]="'Chọn Thuốc'"></kendo-dropdownlist></div>
            </div>
        </div>
        <div class="p-2 bd-highlight">
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">Khách Hàng </div>
                <div class="p-2 bd-highlight"><kendo-dropdownlist [data]="listNameCus" [value]="'Họ Tên'"></kendo-dropdownlist></div>
              </div>
        </div>
        <div class="p-2 bd-highlight">
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">Ngày giao</div>
                <div class="p-2 bd-highlight"></div>
                <div class="p-2 bd-highlight"></div>
                <div class="p-2 bd-highlight">Từ </div>
                <div class="p-2 bd-highlight">
                    <kendo-daterange>
                        <label>
                            <kendo-dateinput kendoDateRangeStartInput [(value)]="range.start"></kendo-dateinput>
                        </label>
                        <label>
                            <span class="label ml-4 mr-2"> Đến </span>
                            <kendo-dateinput #endDateInput kendoDateRangeEndInput [(value)]="range.end"></kendo-dateinput>
                        </label>
                    </kendo-daterange>
                </div>
                <div class="p-2 bd-highlight">
                    <button type="reset" class="btn btn-primary ">Làm Mới</button>
                </div>
            </div>
        </div>
</div>
